* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.todos {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}

.App,
input,
button {
    font-family: 'PT Sans', sans-serif;
}

.App {
    padding: 0 10px;
    max-width: 540px;
    margin: 0 auto;
    text-align: center;
}

.title {
    margin-top: 30px;
    font-size: 40px;
    font-weight: 500;
}